/* Grundlegendes Styling für das gesamte Quizmodul */
.quiz-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    font-family: "Segoe UI", sans-serif;
    padding: 10px; /* Reduziert von 20px */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px auto; /* Reduziert und zentriert das Modul */
}

h2, h3 {
    color: #333;
    font-family: "Segoe UI", sans-serif;
}

/* Styling für Fragen und Ergebnisse */
.question, .results {
    text-align: center;
    margin: 20px;
}

.question p, .results p {
    font-size: 18px;
    color: #666;
}

/* Button-Styling */
button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Ergebnisdetails */
.result-detail {
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.result-detail p {
    color: #333;
}

/* Stil für die Anzeige der korrekten und falschen Antworten */
.correct-answer {
    color: green;
}

.wrong-answer {
    color: red;
}