.quiz-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #004d40;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px auto;
    width: 80%;
    max-width: 900px;
}

.question, .results {
    text-align: center;
    margin: 10px;
}

.question p, .results p {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 15px;
    color: #666;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.result-detail {
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.result-detail p {
    color: #666;
}

.correct-answer {
    color: green;
}

.wrong-answer {
    color: red;
}

@media (max-width: 480px) {
    .quiz-module {
        width: 95%;
    }

    .question p, .results p {
        font-size: 14px;
    }

    button {
        padding: 7px 10px;
        font-size: 13px;
    }
}

@media (min-width: 600px) {
    .quiz-module {
        width: 90%;
    }

    .question p, .results p {
        font-size: 14px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (min-width: 900px) {
    .quiz-module {
        width: 85%;
    }

    .question p, .results p {
        font-size: 16px;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
    }
}