.quiz-title {
    margin-top: 50px; /* Abstand zwischen Foto-Banner und Überschrift */
    font-family: "Segoe UI", sans-serif; /* Beispiel für eine moderne Schriftart */
    font-size: 36px; /* Größe der Überschrift */
    color: #004d40; /* Textfarbe */
    text-transform: uppercase; /* Großschreibung */
    letter-spacing: 2px; /* Abstand zwischen den Buchstaben */
    text-align: center;  /* Schwarze Farbe */
}

.quiz-subtitle {
    text-align: center;
    margin-bottom: 1px;
    font-size: 1.6rem;
    color: #666; /* Dunkelgraue Farbe */
}

.h2 {
    margin-top: 15px; /* Abstand zwischen Foto-Banner und Überschrift */
    font-family: "Segoe UI", sans-serif; /* Beispiel für eine moderne Schriftart */
    font-size: 34px; /* Größe der Überschrift */
    color: #004d40; /* Textfarbe */
    text-transform: uppercase; /* Großschreibung */
    letter-spacing: 1px; /* Abstand zwischen den Buchstaben */
    text-align: center; /* Zentrieren der Überschrift */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.custom-card {
    max-width: 300px; /* Keep the max-width */
    width: 100%; /* Make width 100% */
    margin: 20px;
    display: flex; /* Add display flex */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center;
}

.module-title {
    font-size: 1.5rem; /* You can keep this as is or use vw for responsiveness */
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 8px;
    text-align: center; /* Center align the text */
}

.module-text {
    font-size: 1.5rem;
    text-align: center;
}

.custom-card .btn-primary {
    width: 60%; /* Set button width to 100% */
    margin: auto; /* Center the button in the card if there's a specific width less than 100% */
    display: block;
    background-color: #218838;
    border: none;
}