.quiz-title {
    margin-top: 50px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 36px;
    color: #004d40;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.quiz-subtitle, .module-title, .module-text {
    text-align: center;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 1.5rem;
    color: #666;
}

.quiz-subtitle {
    margin-bottom: 10px;
}

.h2 {
    margin-top: 10px;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #004d40;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.custom-card {
    max-width: 300px;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-card .btn-primary {
    width: 60%;
    margin: auto;
    display: block;
    background-color: #218838;
    border: none;
}

@media (max-width: 1200px) {
    .quiz-title, .h2 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .quiz-title, .h2 {
        font-size: 26px;
    }
    .quiz-subtitle, .module-title, .module-text {
        font-size: 1.2rem;
    }

    .custom-card .btn-primary {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .quiz-title, .h2 {
        font-size: 22px;
    }
    .quiz-subtitle, .module-title, .module-text {
        font-size: 1rem;
    }

    .custom-card {
        margin: 10px;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    .quiz-title, .h2 {
        font-size: 20px;
    }
    .custom-card .btn-primary {
        width: 100%;
    }
}