.quiz-title {
    margin-top: 30px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 36px;
    color: #004d40;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.quiz-subtitle, .module-title, .module-text {
    text-align: center;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 1.5rem;
    color: #666;
}

.quiz-subtitle {
    margin-bottom: 10px;
}

.h2 {
    margin-top: 10px;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #004d40;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.custom-card {
    max-width: 300px;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-card .btn-primary {
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto;
    display: block;
}

.custom-card .btn-primary:hover {
    background-color: #218838;
    transform: scale(1.05);
    text-decoration: none;
}

@media (max-width: 480px) {
    .quiz-title, .h2 {
        font-size: 22px;
    }
    .quiz-subtitle, .module-title, .module-text {
        font-size: 14px;
    }
    .custom-card {
        margin: 10px;
    }
}

@media (min-width: 600px) {
    .quiz-title, .h2 {
        font-size: 26px;
    }
    .quiz-subtitle, .module-title, .module-text {
        font-size: 16px;
    }
    .custom-card .btn-primary {
        width: 80%;
    }
}

@media (min-width: 900px) {
    .quiz-title, .h2 {
        font-size: 30px;
    }
    .quiz-subtitle, .module-title, .module-text {
        font-size: 15px;
    }
}