.map-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.map-button {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 4px 4px;
    border-radius: 13px;
    transition: background 0.3s ease;
    font-size: medium;
    font-weight: bold;
}

.map-button:hover {
    background: rgba(255, 255, 255, 1);
}

.map-popup {
    position: absolute;
    background: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
    z-index: 1000;
    width: 230px;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    text-align: center;
}

#button-graz {
    top: 60%;
    left: 57%;
}

#button-ausseerland {
    top: 33%;
    left: 33%;
}

#button-erzberg-leoben {
    top: 49%;
    left: 52%;
}

#button-gesaeuse {
    top: 36%;
    left: 40%;
}

#button-hochsteiermark {
    top: 28%;
    left: 57%;
}

#button-murau {
    top: 62%;
    left: 39%;
}

#button-murtal {
    top: 49%;
    left: 42%;
}

#button-oststeiermark {
    top: 46%;
    left: 63%;
}

#button-schladming-dachstein {
    top: 50%;
    left: 35%;
}

#button-suedsteiermark {
    top: 84%;
    left: 59%;
}

#button-thermen-vulkanland {
    top: 75%;
    left: 63%;
}

@media (max-width: 480px) {
    .map-container {
        height: auto;
    }
    .map-button {
        font-size: smaller;
        padding: 4px 8px;
    }
    .map-popup {
        width: 150px;
        left: 80%;
    }
}

@media (min-width: 600px) {
    .map-container {
        height: auto;
    }
    .map-button {
        font-size: small;
        padding: 5px 8px;
    }
    .map-popup {
        width: 250px;
    }
}

@media (min-width: 900px) {
    .map-container {
        height: auto;
    }
    .map-button {
        font-size: medium;
        padding: 5px 9px;
    }
    .map-popup {
        width: 300px;
    }
}