.map-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto; /* Höhe kann angepasst werden, wenn notwendig */
    margin-top: 40px;
}

.map-button {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 12px;
    transition: background 0.3s ease;
    font-size: medium;
    font-weight: bold;
}

.map-button:hover {
    background: rgba(255, 255, 255, 1);
}

.map-popup {
    position: absolute;
    background: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
    z-index: 1000;
    width: 230px;
    top: 10%;
    left: 70%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    text-align: center;
}

#button-graz {
    top: 60%;
    left: 57%;
}

#button-ausseerland {
    top: 35%;
    left: 33%;
}

#button-erzberg-leoben {
    top: 50%;
    left: 52%;
}

#button-gesaeuse {
    top: 36%;
    left: 40%;
}

#button-hochsteiermark {
    top: 29%;
    left: 57%;
}

#button-murau {
    top: 62%;
    left: 39%;
}

#button-murtal {
    top: 49%;
    left: 42%;
}

#button-oststeiermark {
    top: 47%;
    left: 63%;
}

#button-schladming-dachstein {
    top: 51%;
    left: 35%;
}

#button-suedsteiermark {
    top: 86%;
    left: 59%;
}

#button-thermen-vulkanland {
    top: 76%;
    left: 63%;
}
/* Tablets (mindestens 600px) */
@media (min-width: 600px) {
    .map-container {
        height: 400px; /* Festes Höhenmaß für bessere Kontrolle auf größeren Bildschirmen */
    }
    .map-button {
        font-size: small; /* Anpassung der Schriftgröße für bessere Lesbarkeit */
        padding: 5px 10px; /* Größeres Padding für bessere Interaktivität */
    }
    .map-popup {
        width: 250px; /* Größeres Popup für mehr Inhalt */
    }
}

/* Desktops (mindestens 900px) */
@media (min-width: 900px) {
    .map-container {
        height: auto; /* Größere feste Höhe für Desktop-Ansichten */
    }
    .map-button {
        font-size: medium; /* Zurück zur ursprünglichen Schriftgröße */
        padding: 5px 9px; /* Weiter erhöhtes Padding */
    }
    .map-popup {
        width: 300px; /* Weitere Erhöhung der Popup-Breite */
    }
}